# Bevroren PoC
/index.html @florisseijben
/src/ @florisseijben
/github-pages-upload/ @florisseijben
/static/ @florisseijben
/tests/ @florisseijben
/logo-waterschap-limburg.jpg @florisseijben
/PoC-publicatie-baseline.md @florisseijben

# Migratieomgeving
/docs/migratie/ @florisseijben
/next/ @florisseijben
